# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build files
build/
dist/
.next/
out/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/

# Temp files
*.tmp
.cache/